.cont-inner h2,.cont-inner h6 {
    text-align: center;
    font-weight: normal;
}
.cont-inner h2 {
    font-size: 38px;
    color: #2a2a2a;
}
.cont-inner h6 {
    font-size: 16px;
    color: #666;
}
.pd50 {
    padding: 50px 0;
}
.mb50 {
    margin-bottom: 50px;
}

.banner img {
    display: block;
    width: 100%;
}
.part-1 .app-list{
    overflow: hidden;
}
.app-list li {
    width: 33.33%;
    float: left;
    text-align: center;
}
.app-list li .app-img {
    display: block;
    width: 15%;
    margin: 0 auto 50px;
}
.app-list li .inner-img {
    width: 60%;
    margin: 0 auto;
}

.part-2 {
    background: #f4f4f4;
}
.part-2 h2, .part-3 h2{
    margin-bottom: 15px;
}
.part-2 .part2-img {
    width: 95%;
    margin: 50px auto 0;
}
.part3-img {
    width: 80%;
    margin: 50px auto 80px;
}
.part3-list {
    overflow: hidden;
    width: 80%;
    margin: 30px auto 0;
}
.part3-list li {
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.part3-list li .list-img {
    display: block;
    width: 20%;
    margin: 0 auto 10px;
}
.part3-list li h6 {
    color: #2a2a2a;
    margin-bottom: 3px;
}
.part3-list li p {
    font-size: 14px;
    color: #666;
}

@media screen and (max-width: 959px) {
    .cont-inner h2 {
        font-size: 34px;
    }
    .pd50 {
        padding: 40px 0;
    }
    .mb50 {
        margin-bottom: 40px;
    }
    .app-list li .app-img {
        margin-bottom: 40px;
    }
    .part-2 .part2-img {
        margin: 40px 0 auto;
    }
    .part-2 h2, .part-3 h2 {
        margin-bottom: 10px;
    }
    .part3-img {
        margin: 40px auto 60px;
    }
}
@media screen and (max-width: 767px) {
    .cont-inner h2 {
        font-size: 30px;
    }
    .pd50 {
        padding: 30px 0;
    }
    .mb50 {
        margin-bottom: 30px;
    }
    .app-list li .app-img {
        margin-bottom: 30px;
    }
    .part-2 .part2-img {
        margin: 30px 0 auto;
    }
    .part-2 h2, .part-3 h2 {
        margin-bottom: 8px;
    }
    .part3-img {
        margin: 30px auto 50px;
    }
}
@media screen and (max-width: 640px) {
    .app-list li .app-img {
        width: 20%;
    }
    .app-list li .inner-img {
        width: 95%;
    }
    .cont-inner h2 {
        font-size: 18px;
    }
    .cont-inner h6 {
        font-size: 14px;
    }
    .pd50 {
        padding: 20px 0;
    }
    .mb50 {
        margin-bottom: 20px;
    }
    .app-list li .app-img {
        margin-bottom: 20px;
    }
    .part-2 .part2-img {
        margin: 20px 0 auto;
    }
    .app-list li .app-img {
        margin-bottom: 15px;
    }
    .part-2 .part2-img {
        margin: 15px 0 auto;
    }
    .part-2 h2, .part-3 h2 {
        margin-bottom: 5px;
    }
    .part3-list {
        width: 100%;
    }
    .part3-list {
        margin: 15px auto 0;
    }
    .part3-list li .list-img {
        margin: 0 auto 5px;
    }
    .part3-list li h6 {
        margin-bottom: 0;
    }
    .part3-list li p {
        font-size: 12px;
    }
    .part3-list li .list-img {
        margin: 0 auto;
    }
    .part3-img {
        width: 90%;
    }
}
